[submodule "wp-geometa-lib"]
	path = wp-geometa-lib
	url = git@github.com:cimburadotcom/wp-geometa-lib.git
[submodule "leaflet-php"]
	path = leaflet-php
	url = git@github.com:cimburadotcom/leaflet-php.git
